.card {
    position: relative;
    i {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 21px;
        color: rgb(225, 18, 18);
        opacity: 0;
        transition: 0.2s all;
    }
    &:hover {
        cursor: pointer;
        i {
            opacity: 1;
        }
    }
}